.site_title i {
    border: none;
    font-size: 30px;
    height: 100%;
}
.nav_title{
    height: 100px;
    
}

.navbar-right{
    padding-right: 50px;
}
.navbar-right li {
    padding-top:5px !important;
}

.main_menu .fa {
    width: 30px;
    font-size: 30px;
    margin-right:20px;
}
.side-menu > li > a {
    font-size: 16px;
    font-weight: 500;
}
.nav.side-menu > li :hover {
    background-color: #344e68 !important;
}
.nav.side-menu > .active a :hover {
    background-color: transparent !important;
}
.right_col{
    min-height: 100vh !important;
}

.x_panel{
    border: none;
}

.nav_menu{
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.11);
    padding:10px 10px 10px 10px;
}
.btn-success{
    border:none !important; 
}
