:root{
    --dark:#1a1a1a;
    --white:#ffffff;
    --ligth-gray:#dddddd;
    --gold:#ecd5a7;
  }
  
  body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .05rem;
  }
  h1,h2,h3,h4,h5,h6,.navbar-brand2{
    font-family: 'Oswald', sans-serif;
    font-weight:500;
    line-height: 1.5;
  }
  /*---------------------------------------------------NAVBAR*/
  .navbar-brand2{
   font-size:1.3rem;
   line-height: 38px;
  }
  
  a{
    color: var(--ligth-gray);
  }
  
  a:hover{
    color: var(--white);
    text-decoration: none;
  }
  
  .active-link{
    color: var(--dark);
    background-color: rgb(255, 255, 255,.8);
    border-radius:20px;
  }
  
  .navbar{
    min-height:5rem;
  }
  
  .nav-link2{
  text-transform: uppercase;
  font-size: 1rem;
  padding: 5px 10px ;
  font-weight: 500;
  margin-bottom:50px;
  }
  .navbar{
    position: absolute;
    width:100%;
    top:0;
    background-color: rgba(0, 0, 0, .3);
    z-index:100;
  }
  .nav-item{
  margin:5px;
  }

/*------------------------------------------------IMG SLIDER*/
  .card-container{
    width:100%;
    height:450px;
    background: #CCC;
  }
  .card-container img{
    width: 100%;
    height: 100%;
  }
  
  @supports(object-fit: cover){
    .card-container img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
      }
  }